.atom/.apm/
.atom/.atom/.gitignore
.atom/.atom/github.cson
.atom/.node-gyp/
.atom/blob-store/
.atom/compile-cache/
.atom/github.cson
.atom/packages/
.atom/storage/
.atom/.atom/packages/
.config/nvim/repos/
